@font-face {
    font-family: myfont;
    src: url(../../Fonts/Dead\ Space.ttf);
  }
.wrapper{
    background-color: #191A19;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

   
.myprj{
    font-size: 50px;
    color: #00FF00;
    text-decoration: underline;
    font-family: myfont;
    margin-top: 50px;
    margin-left: 90px;
}
.prjcontainer{
    display: flex;
    flex-direction: column;

}
.prjcard{
    margin-top: 190px;
    margin-left: 700px;
}